
        blockquote {
          border-left: 0px;
          border-top: 0px;
        }
        blockquote::before {
          content: '';
          margin-right: 0em;
        }
        .sidebar-nav {
          writing-mode: horizontal-tb;
          direction: rtl;
          unicode-bidi: bidi-override;
        }
        .sidebar-nav ul li a {
          direction: rtl;
          unicode-bidi: bidi-override;
        }
        .horizontal-cn-nav ul li {
          float: right;
        }      
        .horizontal-cn-nav ul li a {
          direction: rtl;
          unicode-bidi: bidi-override;
        }
        .horizontal-cn {
          writing-mode:horizontal-tb;
          direction: rtl;
          unicode-bidi: bidi-override;
        }
        .auto-direction {
          writing-mode:vertical-rl;
          text-orientation:mixed;
          width:100%;
          height:100%;
          overflow:auto;
        }
.pagination {
  text-align: right;
  writing-mode: horizontal-tb;
}
.pagination ul li {
  float: right;
}
.table {
  width: auto;
}
.table tr td {
  border-style: none;
}
.table tr th {
  border-style: none;
}
.horizontal-cn form ul li {
  float: right;
}
.horizontal-cn form ul li select option{
  direction: rtl;
  unicode-bidi: bidi-override;
}
